---
const title = 'Proyecto Astro Mil!!!';
const color = 'warning';

const hobbies = ['Programar', 'Jugar', 'Bailar', 'Leer', 'Dormir'];
---

<ul>
{hobbies.map((hobby) => <li>{hobby}</li>)}
</ul>

<p>.</p>
<h1 class={color}>{hobbies[0]}</h1>
<h1 class={color}>{hobbies[1]}</h1>
<h1 class={color}>{hobbies[2]}</h1>
<h1 class={color}>{hobbies[3]}</h1>
<h1 class={color}>{hobbies[4]}</h1>

<script>
	console.log('Hola Mundo!');
</script>

<style>
	body {
		background-color: #202020;
		color: white;
	}
	.title {
		color: skyblue;
	}
	.danger {
		color: red;
	}
	.warning {
		color: yellow;
	}
</style>